html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.container {
    /* border: 6px solid red; */
    max-width: 1280px;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
}
.column {
    padding-left: 20px;
    padding-right: 20px;
}
