html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.container {
    /* border: 1px solid red; */
    /* max-width: 1280px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
