/* 
 Type Scale:
 https://24ways.org/2019/a-modern-typographic-scale/ 
 */
:root {
  --int: 1.333333;
  --scale0: 1rem;
  --scale-1: calc(var(--scale0) / var(--int));
  --scale-2: calc(var(--scale-1) / var(--int));
  --scale1: calc(var(--scale0) * var(--int));
  --scale2: calc(var(--scale1) * var(--int));
  --scale3: calc(var(--scale2) * var(--int));
  --scale4: calc(var(--scale3) * var(--int));
  --scale5: calc(var(--scale4) * var(--int));
  --scale6: calc(var(--scale5) * var(--int));
}

html {
    font-family: Arial;
    font-size: var(--scale-1);
    line-height: 1.5;
}
@media (min-width: 540px) {
    html {
        font-size: var(--scale1);
    }
}
@media (min-width: 769px) {
    html {
        font-size: var(--scale2);
    }
}
@media (min-width: 1025px) {
    html {
        font-size: var(--scale3);
    }
}
h1,h2,h3,h4,h5,h6 {
    /* margin: 0; */
    line-height: 1.5;
}
/* @media (min-width: 1025px) {
    h1,h2,h3,h4,h5,h6 {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
    h1,h2 {
        margin-top: 4rem;
    }
    h1+h1,h1+h2,
    h2+h1,h2+h2,
    h3+h1,h3+h2,
    h4+h1,h4+h2,
    h5+h1,h5+h2{
        margin-top: 0;
    }
} */
