:root {
/** 
    Body 
*/
    --body-font-family: var(--font-family-omni);
    --body-font-size: var(--size-14);
    --body-line-height: 1.3125;
}
body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}
