html {
    -webkit-font-smoothing:  antialiased;
}
.container {
    /* border: 6px solid red; */
    max-width: 760px;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
}
.column {
    padding-left: 20px;
    padding-right: 20px;
}
/* TESTING Font Scale */
/* @media (--l-up) {
    html {
        font-size: 133%;
    }
    .container {
      max-width: 1024px;
    }
}
@media (--xxl) {
    html {
        font-size: 174%;
    }
    .container {
      max-width: 1280px;
    }
}
 */
