/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  A Modern CSS Reset
  https://hankchizljaw.com/wrote/a-modern-css-reset/
 * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* OS X font smoothing */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {
  display: inline-block;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  white-space: revert;
}

table {
  border-collapse: collapse;
}

[hidden] {
  display: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

hr {
  display: block;
  border-style: none;
  height: 0.0625rem;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Margins / Padding */
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.625rem;
}
p {
  margin: 0 0 1.5rem;
}
ul {
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 0;
}

/* RTE */
.rte ul, 
.rte ol,
ul.rte, 
ol.rte, {
  list-style-type: disc;
  margin-left: 1.5rem;
}
.rte li,
ul.rte li,
ol.rte li {
  margin-bottom: .5rem;
}
