/**
  Breakpoints Sizes

  XXS
    --xxs:            <= 320

  XS
    --xs:             >= 320
    --xs-only:        >= 320 and <= 579
    --xs-down:        <= 579 

  Small
    --s:              >= 580
    --s-only:         >= 580 and <= 959
    --s-down:         <= 959 

  Medium
    --m:              >= 960
    --m-only:         >= 960 and <= 1279
    --m-down:         <= 1279 

  Large
    --l:              >= 1280
    --l-only:         >= 1280 and <= 1679
    --l-down:         <= 1679 

  XL
    --xl:             >= 1680
    --xl-only:        >= 1680 and <= 1919
    --xl-down:        <= 1919 

  XXL
    --xxl:            >= 1920

  Misc
    --tablet:         >= 768 - iPad
    --tablet-only:       768 - iPad
    --tablet-down:    <= 768 - iPad
    --tablet-h:       >= 1024 - iPad Horizontal / iPad Pro
    --tablet-h-only:     1024 - iPad Horizontal / iPad Pro
    --tablet-h-down:  <= 1024 - iPad Horizontal / iPad Pro

 */
@custom-media --xxs (max-width: 20rem);
@custom-media --xs (min-width: 20rem);
@custom-media --xs-only (min-width: 20rem) and (max-width: 36.1875rem);
@custom-media --xs-down (max-width: 36.1875rem);
@custom-media --sm (min-width: 36.25rem);
@custom-media --sm-only (min-width: 36.25rem) and (max-width: 59.9375rem);
@custom-media --sm-down (max-width: 59.9375rem);
@custom-media --md (min-width: 60rem);
@custom-media --md-only (min-width: 60rem) and (max-width: 79.9375rem);
@custom-media --md-down (max-width: 79.9375rem);
@custom-media --lg (min-width: 80rem);
@custom-media --lg-only (min-width: 80rem) and (max-width: 104.9375rem);
@custom-media --lg-down (max-width: 104.9375rem);
@custom-media --xl (min-width: 105rem);
@custom-media --xl-only (min-width: 105rem) and (max-width: 119.9375rem);
@custom-media --xl-down (max-width: 119.9375rem);
@custom-media --xxl (min-width: 120rem);

@custom-media --tablet (min-width: 48rem);
@custom-media --tablet-only (min-width: 48rem) and (max-width: 48rem);
@custom-media --tablet-down (max-width: 48rem);
@custom-media --tablet-h (min-width: 64rem);
@custom-media --tablet-h-only (min-width: 64rem) and (max-width: 64rem);
@custom-media --tablet-h-down (max-width: 64rem);
