/* >Margins */
.m0 {
  margin-top: 0 !important;
}
.m20 {
  margin-top: var(--rem-20);
}
.m40 {
  margin-top: var(--rem-40);
}
.m60 {
  margin-top: var(--rem-60);
}
.m80 {
  margin-top: var(--rem-80);
}
.m100 {
  margin-top: var(--rem-90);
}
@media (--lg) {
  .m100 {
    margin-top: var(--rem-100);
  }
}
.m120 {
  margin-top: var(--rem-80);
}
@media (--lg) {
  .m120 {
    margin-top: var(--rem-120);
  }
}
.m160 {
  margin-top: var(--rem-100);
}
@media (--lg) {
  .m160 {
    margin-top: var(--rem-160);
  }
}
.m180 {
  margin-top: var(--rem-120);
}
@media (--lg) {
  .m180 {
    margin-top: var(--rem-180);
  }
}
.m210 {
  margin-top: var(--rem-180);
}
@media (--lg) {
  .m210 {
    margin-top: var(--rem-210);
  }
}
.m240 {
  margin-top: var(--rem-210);
}
@media (--lg) {
  .m240 {
    margin-top: var(--rem-240);
  }
}
.m280 {
  margin-top: var(--rem-240);
}
@media (--lg) {
  .m280 {
    margin-top: var(--rem-280);
  }
}

@media (--md-only) {
  .m0-md {
    margin-top: 0 !important;
  }
  .m20-md {
    margin-top: var(--rem-20);
  }
  .m40-md {
    margin-top: var(--rem-40);
  }
  .m60-md {
    margin-top: var(--rem-60);
  }
  .m80-md {
    margin-top: var(--rem-80);
  }
  .m100-md {
    margin-top: var(--rem-100);
  }
  .m120-md {
    margin-top: var(--rem-120);
  }
  .m160-md {
    margin-top: var(--rem-160);
  }
  .m180-md {
    margin-top: var(--rem-180);
  }
}

@media (--sm-only) {
  .m0-sm {
    margin-top: 0 !important;
  }
  .m20-sm {
    margin-top: var(--rem-20);
  }
  .m40-sm {
    margin-top: var(--rem-40);
  }
  .m60-sm {
    margin-top: var(--rem-60);
  }
  .m80-sm {
    margin-top: var(--rem-80);
  }
  .m100-sm {
    margin-top: var(--rem-100);
  }
  .m120-sm {
    margin-top: var(--rem-120);
  }
  .m160-sm {
    margin-top: var(--rem-160);
  }
  .m180-sm {
    margin-top: var(--rem-180);
  }
}

.mb0 {
  margin-bottom: 0 !important;
}
.mb20 {
  margin-bottom: var(--rem-20);
}
.mb40 {
  margin-bottom: var(--rem-40);
}
.mb60 {
  margin-bottom: var(--rem-60);
}
.mb80 {
  margin-bottom: var(--rem-80);
}
.mb100 {
  margin-bottom: var(--rem-90);
}
@media (--lg) {
  .mb100 {
    margin-bottom: var(--rem-100);
  }
}
.mb120 {
  margin-bottom: var(--rem-80);
}
@media (--lg) {
  .mb120 {
    margin-bottom: var(--rem-120);
  }
}
.mb160 {
  margin-bottom: var(--rem-100);
}
@media (--lg) {
  .mb160 {
    margin-bottom: var(--rem-160);
  }
}
.mb180 {
  margin-bottom: var(--rem-120);
}
@media (--lg) {
  .mb180 {
    margin-bottom: var(--rem-180);
  }
}
.mb210 {
  margin-bottom: var(--rem-180);
}
@media (--lg) {
  .mb210 {
    margin-bottom: var(--rem-210);
  }
}
.mb240 {
  margin-bottom: var(--rem-210);
}
@media (--lg) {
  .mb240 {
    margin-bottom: var(--rem-240);
  }
}
.mb280 {
  margin-bottom: var(--rem-240);
}
@media (--lg) {
  .mb280 {
    margin-bottom: var(--rem-280);
  }
}

@media (--md-only) {
  .mb0-md {
    margin-bottom: 0 !important;
  }
  .mb20-md {
    margin-bottom: var(--rem-20);
  }
  .mb40-md {
    margin-bottom: var(--rem-40);
  }
  .mb60-md {
    margin-bottom: var(--rem-60);
  }
  .mb80-md {
    margin-bottom: var(--rem-80);
  }
  .mb100-md {
    margin-bottom: var(--rem-100);
  }
  .mb120-md {
    margin-bottom: var(--rem-120);
  }
  .mb160-md {
    margin-bottom: var(--rem-160);
  }
  .mb180-md {
    margin-bottom: var(--rem-180);
  }
}


@media (--sm-only) {
  .mb0-sm {
    margin-bottom: 0 !important;
  }
  .mb20-sm {
    margin-bottom: var(--rem-20);
  }
  .mb40-sm {
    margin-bottom: var(--rem-40);
  }
  .mb60-sm {
    margin-bottom: var(--rem-60);
  }
  .mb80-sm {
    margin-bottom: var(--rem-80);
  }
  .mb100-sm {
    margin-bottom: var(--rem-100);
  }
  .mb120-sm {
    margin-bottom: var(--rem-120);
  }
  .mb160-sm {
    margin-bottom: var(--rem-160);
  }
  .mb180-sm {
    margin-bottom: var(--rem-180);
  }
}