/* >Margins */
.m0 {
  margin-top: 0 !important;
}
.m20 {
  margin-top: var(--rem-20);
}
.m40 {
  margin-top: var(--rem-40);
}
.m60 {
  margin-top: var(--rem-60);
}
.m80 {
  margin-top: var(--rem-80);
}
.m100 {
  margin-top: var(--rem-90);
}
@media (--l) {
  .m100 {
    margin-top: var(--rem-100);
  }
}
.m120 {
  margin-top: var(--rem-80);
}
@media (--l) {
  .m120 {
    margin-top: var(--rem-120);
  }
}
.m160 {
  margin-top: var(--rem-100);
}
@media (--l) {
  .m160 {
    margin-top: var(--rem-160);
  }
}
.m180 {
  margin-top: var(--rem-120);
}
@media (--l) {
  .m180 {
    margin-top: var(--rem-180);
  }
}
.m210 {
  margin-top: var(--rem-180);
}
@media (--l) {
  .m210 {
    margin-top: var(--rem-210);
  }
}
.m240 {
  margin-top: var(--rem-210);
}
@media (--l) {
  .m240 {
    margin-top: var(--rem-240);
  }
}
.m280 {
  margin-top: var(--rem-240);
}
@media (--l) {
  .m280 {
    margin-top: var(--rem-280);
  }
}

@media (--m-only) {
  .m0-m {
    margin-top: 0 !important;
  }
  .m20-m {
    margin-top: var(--rem-20);
  }
  .m40-m {
    margin-top: var(--rem-40);
  }
  .m60-m {
    margin-top: var(--rem-60);
  }
  .m80-m {
    margin-top: var(--rem-80);
  }
  .m100-m {
    margin-top: var(--rem-100);
  }
  .m120-m {
    margin-top: var(--rem-120);
  }
  .m160-m {
    margin-top: var(--rem-160);
  }
  .m180-m {
    margin-top: var(--rem-180);
  }
}

@media (--s-only) {
  .m0-s {
    margin-top: 0 !important;
  }
  .m20-s {
    margin-top: var(--rem-20);
  }
  .m40-s {
    margin-top: var(--rem-40);
  }
  .m60-s {
    margin-top: var(--rem-60);
  }
  .m80-s {
    margin-top: var(--rem-80);
  }
  .m100-s {
    margin-top: var(--rem-100);
  }
  .m120-s {
    margin-top: var(--rem-120);
  }
  .m160-s {
    margin-top: var(--rem-160);
  }
  .m180-s {
    margin-top: var(--rem-180);
  }
}

.mb0 {
  margin-bottom: 0 !important;
}
.mb20 {
  margin-bottom: var(--rem-20);
}
.mb40 {
  margin-bottom: var(--rem-40);
}
.mb60 {
  margin-bottom: var(--rem-60);
}
.mb80 {
  margin-bottom: var(--rem-80);
}
.mb100 {
  margin-bottom: var(--rem-90);
}
@media (--l) {
  .mb100 {
    margin-bottom: var(--rem-100);
  }
}
.mb120 {
  margin-bottom: var(--rem-80);
}
@media (--l) {
  .mb120 {
    margin-bottom: var(--rem-120);
  }
}
.mb160 {
  margin-bottom: var(--rem-100);
}
@media (--l) {
  .mb160 {
    margin-bottom: var(--rem-160);
  }
}
.mb180 {
  margin-bottom: var(--rem-120);
}
@media (--l) {
  .mb180 {
    margin-bottom: var(--rem-180);
  }
}
.mb210 {
  margin-bottom: var(--rem-180);
}
@media (--l) {
  .mb210 {
    margin-bottom: var(--rem-210);
  }
}
.mb240 {
  margin-bottom: var(--rem-210);
}
@media (--l) {
  .mb240 {
    margin-bottom: var(--rem-240);
  }
}
.mb280 {
  margin-bottom: var(--rem-240);
}
@media (--l) {
  .mb280 {
    margin-bottom: var(--rem-280);
  }
}

@media (--m-only) {
  .mb0-m {
    margin-bottom: 0 !important;
  }
  .mb20-m {
    margin-bottom: var(--rem-20);
  }
  .mb40-m {
    margin-bottom: var(--rem-40);
  }
  .mb60-m {
    margin-bottom: var(--rem-60);
  }
  .mb80-m {
    margin-bottom: var(--rem-80);
  }
  .mb100-m {
    margin-bottom: var(--rem-100);
  }
  .mb120-m {
    margin-bottom: var(--rem-120);
  }
  .mb160-m {
    margin-bottom: var(--rem-160);
  }
  .mb180-m {
    margin-bottom: var(--rem-180);
  }
}


@media (--s-only) {
  .mb0-s {
    margin-bottom: 0 !important;
  }
  .mb20-s {
    margin-bottom: var(--rem-20);
  }
  .mb40-s {
    margin-bottom: var(--rem-40);
  }
  .mb60-s {
    margin-bottom: var(--rem-60);
  }
  .mb80-s {
    margin-bottom: var(--rem-80);
  }
  .mb100-s {
    margin-bottom: var(--rem-100);
  }
  .mb120-s {
    margin-bottom: var(--rem-120);
  }
  .mb160-s {
    margin-bottom: var(--rem-160);
  }
  .mb180-s {
    margin-bottom: var(--rem-180);
  }
}