/* >Paddings */
.p20 {
  padding-top: var(--rem-20);
}
.p40 {
  padding-top: var(--rem-40);
}
.p60 {
  padding-top: var(--rem-60);
}
.p80 {
  padding-top: var(--rem-80);
}
.p100 {
  padding-top: var(--rem-90);
}
@media (--lg) {
  .p100 {
    padding-top: var(--rem-100);
  }
}
.p120 {
  padding-top: var(--rem-80);
}
@media (--lg) {
  .p120 {
    padding-top: var(--rem-120);
  }
}
.p160 {
  padding-top: var(--rem-100);
}
@media (--lg) {
  .p160 {
    padding-top: var(--rem-160);
  }
}
.p180 {
  padding-top: var(--rem-120);
}
@media (--lg) {
  .p180 {
    padding-top: var(--rem-180);
  }
}
.p210 {
  padding-top: var(--rem-180);
}
@media (--lg) {
  .p210 {
    padding-top: var(--rem-210);
  }
}

@media (--md-only) {
  .p0-md {
    padding-top: 0 !important;
  }
  .p20-md {
    padding-top: var(--rem-20);
  }
  .p40-md {
    padding-top: var(--rem-40);
  }
  .p60-md {
    padding-top: var(--rem-60);
  }
  .p80-md {
    padding-top: var(--rem-80);
  }
  .p100-md {
    padding-top: var(--rem-100);
  }
  .p120-md {
    padding-top: var(--rem-120);
  }
  .p160-md {
    padding-top: var(--rem-160);
  }
  .p180-md {
    padding-top: var(--rem-180);
  }
}


@media (--sm-only) {
  .p0-sm {
    padding-top: 0 !important;
  }
  .p20-sm {
    padding-top: var(--rem-20);
  }
  .p40-sm {
    padding-top: var(--rem-40);
  }
  .p60-sm {
    padding-top: var(--rem-60);
  }
  .p80-sm {
    padding-top: var(--rem-80);
  }
  .p100-sm {
    padding-top: var(--rem-100);
  }
  .p120-sm {
    padding-top: var(--rem-120);
  }
  .p160-sm {
    padding-top: var(--rem-160);
  }
  .p180-sm {
    padding-top: var(--rem-180);
  }
}


.pb20 {
  padding-bottom: var(--rem-20);
}
.pb40 {
  padding-bottom: var(--rem-40);
}
.pb60 {
  padding-bottom: var(--rem-60);
}
.pb80 {
  padding-bottom: var(--rem-80);
}
.pb100 {
  padding-bottom: var(--rem-90);
}
@media (--lg) {
  .pb100 {
    padding-bottom: var(--rem-100);
  }
}
.pb120 {
  padding-bottom: var(--rem-80);
}
@media (--lg) {
  .pb120 {
    padding-bottom: var(--rem-120);
  }
}
.pb160 {
  padding-bottom: var(--rem-100);
}
@media (--lg) {
  .pb160 {
    padding-bottom: var(--rem-160);
  }
}
.pb180 {
  padding-bottom: var(--rem-120);
}
@media (--lg) {
  .pb180 {
    padding-bottom: var(--rem-180);
  }
}
.pb210 {
  padding-bottom: var(--rem-180);
}
@media (--lg) {
  .pb210 {
    padding-bottom: var(--rem-210);
  }
}

@media (--md-only) {
  .pb0-md {
    padding-bottom: 0 !important;
  }
  .pb20-md {
    padding-bottom: var(--rem-20);
  }
  .pb40-md {
    padding-bottom: var(--rem-40);
  }
  .pb60-md {
    padding-bottom: var(--rem-60);
  }
  .pb80-md {
    padding-bottom: var(--rem-80);
  }
  .pb100-md {
    padding-bottom: var(--rem-100);
  }
  .pb120-md {
    padding-bottom: var(--rem-120);
  }
  .pb160-md {
    padding-bottom: var(--rem-160);
  }
  .pb180-md {
    padding-bottom: var(--rem-180);
  }
}


@media (--sm-only) {
  .pb0-sm {
    padding-bottom: 0 !important;
  }
  .pb20-sm {
    padding-bottom: var(--rem-20);
  }
  .pb40-sm {
    padding-bottom: var(--rem-40);
  }
  .pb60-sm {
    padding-bottom: var(--rem-60);
  }
  .pb80-sm {
    padding-bottom: var(--rem-80);
  }
  .pb100-sm {
    padding-bottom: var(--rem-100);
  }
  .pb120-sm {
    padding-bottom: var(--rem-120);
  }
  .pb160-sm {
    padding-bottom: var(--rem-160);
  }
  .pb180-sm {
    padding-bottom: var(--rem-180);
  }
}