ul, ol, dl {
    font-size: var(--list-font-size);
    line-height: var(--list-line-height);
}
ul, ol {
    padding-left: 2rem;
}
li {
    margin: 0.5rem 0;
}
dt {
    font-weight: var(--font-weight-semibold);
    margin-top: 0.5rem;
}
dd {
    margin-left: 0;
    margin-bottom: 0.5rem;
}
