/* * * * * * * *
  Formats
 * * * * * * * */
:root {
/* Blockquote */
--blockquote-margin: 1rem .75rem;
--blockquote-padding: 0 .75rem;
--blockquote-border-width: var(--rem-4);
--blockquote-border-color: var(--black);
}
blockquote {
  margin: var(--blockquote-margin);
  padding: var(--blockquote-padding);
  border-left: var(--blockquote-border-width) solid var(--blockquote-border-color);
}
small {
  color: var(--small-color);
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  letter-spacing: var(--small-letter-spacing);
}
mark {
  background-color: var(--light);
  padding: 0.0625em .5em;
  border-radius: 0.25em;
  margin: 0 .25em;
  color: inherit;
}
pre, code {
  font-family: var(--font-family-monospace);
  overflow: auto;
}

figcaption, caption, .t-caption {
  color: var(--caption-color);
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
}
