/* * * * * * * *
  Headings
 * * * * * * * */
:root {
  --heading-margin: 0 0 1rem;
  --heading-padding: 0;
  --display-margin: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
  margin: var(--heading-margin);
  padding: var(--heading-padding);
}

/* Heading Font Size */
h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}
h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}
h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}
h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}
h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}
h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
}

/* * * * * * * * * *
  Display Headings
 * * * * * * * * * */
.t-display, 
.t-display-s, 
.t-display-m, 
.t-display-l {
  color: var(--display-color);
  font-family: var(--display-font-family);
  font-weight: var(--display-font-weight);
  letter-spacing: var(--display-letter-spacing);
  /* Show Hyphens */
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: var(--display-margin);
}

/* Display Font Sizes */
.t-display-s {
  font-size: var(--display-s-font-size);
  line-height: var(--display-s-line-height);
}
.t-display,
.t-display-m {
  font-size: var(--display-m-font-size);
  line-height: var(--display-m-line-height);
}
.t-display-l {
  font-size: var(--display-l-font-size);
  line-height: var(--display-l-line-height);
}
