/* * * * * * * * * *
  Link
  TODO: hover, active, visited, focus, etc
 * * * * * * * * * */
a {
  color: var(--link-color);
  font-family: inherit;
  font-size: var(--link-font-size);
  font-weight: var(--link-font-weight);
  letter-spacing: var(--link-letter-spacing);
  line-height: var(--link-line-height);
}
