/* TODO: hover, active, visited, focus, etc */
a {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  letter-spacing: var(--link-letter-spcaing);
  font-weight: var(--link-font-weight);
  color: var(--link-color);
}
