ul, ol, dl {
  color: var(--list-color);
  font-size: var(--list-font-size);
  line-height: var(--list-line-height);
  letter-spacing: var(--list-letter-spacing);
  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style-position: inherit;
}
li {
  margin: 0.5rem 0;
  position: relative;
}
dl {
  padding: 0;
}
dt {
  font-weight: var(--font-weight-semibold);
}
dd {
  margin-bottom: 0.5rem;
}
