/* * * * * * * * * *
  Lists
 * * * * * * * * * */
:root {
  --list-margin: 0 0 1em;
  --list-padding: 0 0 0 1.2em;
}
ul, 
ol,
dl {
  color: var(--list-color);
  font-size: var(--list-font-size);
  letter-spacing: var(--list-letter-spacing);
  line-height: var(--list-line-height);
  list-style-position: outside;
  margin: var(--list-margin);
  padding: var(--list-padding);
}
li {
  margin: 0 0 0.5em;
  position: relative;
}
dl {
  padding: 0;
}
dt {
  font-weight: var(--font-weight-semibold);
  margin-bottom: .1em;
}
dd {
  margin-bottom: 1em;
}
