/* * * * * * * * * *
  Figure
 * * * * * * * * * */
:root {
  --figure-display: block;
  --figure-margin: var(--paragraph-margin);
  --figure-padding: 0;
  /* Figure Caption */
  --figure-caption-margin: 1rem 0;
  --figure-caption-font-family: inherit;
  --figure-caption-font-weight: var(--font-weight);
  --figure-caption-font-size: var(--caption-font-size);
  --figure-caption-line-height: var(--caption-line-height);
  --figure-caption-color: var(--caption-color);
  --figure-caption-text-align: left;
}

figure {
  display: var(--figure-display);
  margin: var(--figure-margin);
  padding: var(--figure-padding);
}

figcaption {
  margin: var(--figure-caption-margin);
  font-family: var(--figure-caption-font-family);
  font-weight: var(--figure-caption-font-weight);
  font-size: var(--figure-caption-font-size);
  line-height: var(--figure-caption-line-height);
  color: var(--figure-caption-color);
  text-align: var(--figure-caption-text-align);
}
