:root {
/**
    Body 
*/
    --body-font-family: var(--font-family-omni);
    --body-font-size: var(--rem-14);
    --body-line-height: 1.3125;
/** 
    Size Units 
*/
    --rem-1:    0.0625rem;     /*   1px */
    --rem-2:    0.125rem;      /*   2px */
    --rem-4:    0.25rem;       /*   4px */
    --rem-6:    0.375rem;      /*   6px */
    --rem-8:    0.5rem;        /*   8px */
    --rem-10:   0.625rem;      /*  10px */
    --rem-12:   0.75rem;       /*  12px */
    --rem-14:   0.875rem;      /*  14px */
    --rem-15:   0.9375rem;     /*  15px */
    --rem-16:   1rem;          /*  16px */
    --rem-18:   1.125rem;      /*  18px */
    --rem-20:   1.25rem;       /*  20px */
    --rem-22:   1.375rem;      /*  22px */
    --rem-24:   1.5rem;        /*  24px */
    --rem-26:   1.625rem;      /*  26px */
    --rem-28:   1.75rem;       /*  28px */
    --rem-30:   1.875rem;      /*  30px */
    --rem-32:   2rem;          /*  32px */
    --rem-34:   2.125rem;      /*  34px */
    --rem-36:   2.25rem;       /*  36px */
    --rem-38:   2.375rem;      /*  38px */
    --rem-40:   2.5rem;        /*  40px */
    --rem-42:   2.625rem;      /*  42px */
    --rem-44:   2.75rem;       /*  44px */
    --rem-46:   2.875rem;      /*  46px */
    --rem-48:   3rem;          /*  48px */
    --rem-50:   3.125rem;      /*  50px */
    --rem-52:   3.25rem;       /*  52px */
    --rem-54:   3.375rem;      /*  54px */
    --rem-56:   3.5rem;        /*  56px */
    --rem-58:   3.625rem;      /*  58px */
    --rem-60:   3.75rem;       /*  60px */
    --rem-62:   3.875rem;      /*  62px */
    --rem-64:   4rem;          /*  64px */
    --rem-68:   4.25rem;       /*  68px */
    --rem-72:   4.5rem;        /*  72px */
    --rem-76:   4.75rem;       /*  76px */
    --rem-80:   5rem;          /*  80px */
    --rem-84:   5.25rem;       /*  84px */
    --rem-88:   5.5rem;        /*  88px */
    --rem-92:   5.75rem;       /*  92px */
    --rem-96:   6rem;          /*  96px */
    --rem-100:  6.25rem;       /* 100px */
    --rem-104:  6.5rem;        /* 104px */
    --rem-108:  6.75rem;       /* 108px */
    --rem-116:  7.25rem;       /* 116px */
    --rem-124:  7.75rem;       /* 124px */
    --rem-132:  8.25rem;       /* 132px */
    --rem-140:  8.75rem;       /* 140px */
    --rem-148:  9.25rem;       /* 148px */
    --rem-156:  9.75rem;       /* 156px */
    --rem-164: 10.25rem;       /* 164px */
    --rem-172: 10.75rem;       /* 172px */
    --rem-180: 11.25rem;       /* 180px */

/**
    Font
 */
    --font-family-system:            -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-sans-serif:        'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-serif:             Georgia, 'Times New Roman', Times, serif;
    --font-family-monospace:         Monaco, Menlo, Consolas, 'Courier New', monospace;
    --font-family-omni:              'Inter', sans-serif;
/**
    Font Weights
 */
    --font-weight-thin:               100;
    --font-weight-extra-light:        200;
    --font-weight-light:              300;
    --font-weight-regular:            400;
    --font-weight-medium:             500;
    --font-weight-semibold:           600;
    --font-weight-bold:               700;
    --font-weight-extra-bold:         800;
    --font-weight-black:              900;
    --font-weight:                    normal;

}
