/**

xxs: <= 320px

xs-up: >= 320px
xs: 320px - 579px
xs-down: <= 579px

s-up: >= 580px
s: 580px - 959px
s-down: <= 959px

m-up: >= 960px
m: 960px - 1279px
m-down: <= 1279px

l-up: >= 1280px
l: 1280px - 1679px
l-down: <= 1679px

xl-up: >= 1680px
xl: 1680px - 1919px
xl-down: <= 1919px

xxl: >= 1920px

tablet: 768px - iPad
tablet-h: 1024px - iPad Horizontal / iPad Pro

 */
@custom-media --xxs (max-width: 22.5rem); 

@custom-media --xs-up (min-width: 22.5rem); 
@custom-media --xs (min-width: 22.5rem) and (max-width: 36.1875rem); 
@custom-media --xs-down (max-width: 36.1875rem); 

@custom-media --s-up (min-width: 36.25rem); 
@custom-media --s (min-width: 36.25rem) and (max-width: 59.9375rem); 
@custom-media --s-down (max-width: 59.9375rem); 

@custom-media --m-up (min-width: 60rem); 
@custom-media --m (min-width: 60rem) and (max-width: 79.9375rem); 
@custom-media --m-down (max-width: 79.9375rem); 

@custom-media --l-up (min-width: 80rem); 
@custom-media --l (min-width: 80rem) and (max-width: 104.9375rem); 
@custom-media --l-down (max-width: 104.9375rem); 

@custom-media --xl-up (min-width: 105rem); 
@custom-media --xl (min-width: 105rem) and (max-width: 119.9375rem); 
@custom-media --xl-down (max-width: 119.9375rem); 

@custom-media --xxl (min-width: 120rem); 

@custom-media --tablet (min-width: 48rem) and (max-width: 48rem); 
@custom-media --tablet-h (min-width: 64rem) and (max-width: 64rem); 

@media (--xs-down) {
    body {
        background: red;
    }
}
