/* TODO: DELETE */
.container {
  /* border: var(--rem-6) solid red; */
  max-width: 38.75rem;
  max-width: 54ch;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}
.column {
  width: 100%;
  padding-left: var(--rem-20);
  padding-right: var(--rem-20);
}
