ul, ol {
    padding-left: 2rem;
}
ul {
    list-style-type: none;
}
li {
    margin: 0.5rem 0;
    position: relative;
}
ul li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: -22px;
    top: 8px;
    border-radius: 50%;
    background: #000;
}
