:root {
/* * * * * * * *
  Primitives
 * * * * * * * */

/* Figure */
--figure-display: block;
--figure-margin: 0;
--figure-padding: 0;
/* Figure Caption */
--figure-caption-margin: 1rem 0 1.5rem;
--figure-caption-font-family: inherit;
--figure-caption-font-weight: inherit;
--figure-caption-font-size: var(--caption-font-size);
--figure-caption-color: var(--caption-color);
--figure-caption-text-align: left;

}
