:root {
  /* * * * * * * * * *
    Theme Settings
  * * * * * * * * * */

  /*
    Color
  */

  /* Greys */
  --white: hsl(220, 10%, 100%);
  --light: hsl(220, 10%, 85%);
  --grey: hsl(220, 10%, 40%);
  --dark: hsl(220, 10%, 20%);
  --black: hsl(220, 10%, 0%);

  /* Palette */
  --primary: hsl(220, 80%, 50%);
  --secondary: hsl(270, 80%, 50%);
  --tertiary: hsl(320, 80%, 50%);

  /* Status */
  --error: hsl(0, 100%, 40%);
  --warning: hsl(20, 100%, 50%);
  --success: hsl(120, 100%, 35%);
  --info: hsl(200, 100%, 40%);

  /* Defaults */
  --body-color: var(--black);
  --paragraph-color: var(--body-color);
  --link-color: var(--primary);
  --heading-color: var(--black);
  --display-color: var(--heading-color);  
  --list-color: var(--paragraph-color);
  --small-color: var(--paragraph-color);
  --caption-color: var(--paragraph-color);

  /*
    Type
  */

  /*
    Font Families
  */
  --font-family:                'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-sans-serif:     'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif:          Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace:      Monaco, Menlo, Consolas, 'Courier New', monospace;
  --font-family-system:         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  /*
    Font Weights
  */
  --font-weight-normal: normal;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Body */
  --body-font-family: var(--font-family);
  --body-font-size: 16px;
  --body-line-height: 1.5;
  --body-font-weight: var(--font-weight-normal);
  /* Type Scale (>= 1680, 20px base) */
  /* @media (--xxl) {
    --body-font-size: 20px;
    } */

  /* Paragraph */
  --paragraph-font-size: var(--rem-16); /* 1rem */
  --paragraph-line-height: 1.625;

  --paragraph-font-weight: var(--body-font-weight);
  --paragraph-letter-spacing: inherit;
  --paragraph-text-transform: none;

  /* Heading/Display */
  --heading-font-family: var(--font-family);
  --display-font-family: var(--heading-font-family);

  --heading-font-weight: var(--font-weight-semibold);
  --display-font-weight: var(--font-weight-bold);

  --heading-letter-spacing: inherit;
  --display-letter-spacing: inherit;

  --heading-text-transform: none;
  --display-text-transform: var(--heading-text-transform);

  /* 
    Display
      Font Size & Line Heights
  */
  --display-l-font-size: var(--rem-64);
  --display-l-line-height: 1;

  --display-m-font-size: var(--rem-48);
  --display-m-line-height: 1;

  --display-s-font-size: var(--rem-32);
  --display-s-line-height: 1.125;

  /* 
    Heading
      Font Size & Line Heights 
  */
  --h1-font-size: var(--rem-38);
  --h1-line-height: 1.132;

  --h2-font-size: var(--rem-28);
  --h2-line-height: 1.143;

  --h3-font-size: var(--rem-22);
  --h3-line-height: 1.136;

  --h4-font-size: var(--rem-22);
  --h4-line-height: 1.136;

  --h5-font-size: var(--rem-22);
  --h5-line-height: 1.136;

  --h6-font-size: var(--paragraph-font-size);
  --h6-line-height: 1;

  /* Link */
  --link-font-size: inherit;
  --link-line-height: inherit;

  --link-font-weight: var(--font-weight-semibold);
  --link-letter-spacing: inherit;

  /* List */
  --list-font-size: var(--paragraph-font-size);
  --list-line-height: var(--paragraph-line-height);
  --list-margin: var(--rem-20);
  --list-padding: 0 0 0 1.2em;
  --list-letter-spacing: inherit;

  /* Buttons */
  --button-font-size: var(--rem-16);
  --button-font-weight: var(--font-weight-semibold);
  --button-color: var(--body-color);
  --button-bg-color: var(--white);

  /* Formats */
  /* Small */
  --small-font-size: var(--rem-12);
  --small-line-height: 1.5;
  --small-letter-spacing: inherit;

  /* Figures */
  --figure-display: block;
  --figure-margin: var(--paragraph-margin);
  --figure-padding: 0;
  /* Figure Caption */
  --figure-caption-margin: 0;
  --figure-caption-font-family: inherit;
  --figure-caption-font-weight: var(--font-weight-normal);
  --figure-caption-font-size: var(--caption-font-size);
  --figure-caption-line-height: var(--caption-line-height);
  --figure-caption-color: var(--caption-color);
  --figure-caption-text-align: left;

  /* Blockquotes */
  --blockquote-font-family: var(--font-family);
  --blockquote-font-size: var(--h3-font-size);
  --blockquote-line-height: 1.4;
  --blockquote-font-style: italic;
  --blockquote-font-weight: var(--font-weight-light);
  --blockquote-margin: 1.5rem 0;
  --blockquote-padding: 0;

  /* Caption */
  --caption-font-size: var(--rem-18);
  --caption-line-height: 1.055556;
  --caption-font-weight: var(--font-weight-bold);
  --caption-letter-spacing: inherit;
  --caption-text-transform: uppercase;




}
