:root {
/* Paragraph */
  --p-font-size: var(--rem-16);
  --p-line-height: 1.44444;
  
/* Lists */
  --list-font-size: var(--rem-16);
  --list-line-height: var(--p-line-height);

/* * * * * * * *
  Heading Vars 
 * * * * * * * */
  --heading-font-weight: 600;
  --heading-margin: var(--rem-16);
/* Heading 1 */
  --h1-font-size: var(--rem-38);
  --h1-line-height: 1.13157895; 
/* Heading 2 */
  --h2-font-size: var(--rem-28);
  --h2-line-height: 1.14285714;
/* Heading 3 */
  --h3-font-size: var(--rem-22);
  --h3-line-height: 1.13636364;

/* * * * * * * *
  Display Vars 
 * * * * * * * */
  --display-font-weight: bold;
/* Display S */
  --display-s-font-size: var(--rem-32);
  --display-s-line-height: 1.125;
/* Display M */
  --display-m-font-size: var(--rem-48);
  --display-m-line-height: 1;
/* Display L */
  --display-l-font-size: var(--rem-64);
  --display-l-line-height: 1;  

/* Small */
  --small-font-size: var(--rem-12);
  --small-line-height: 1.5;

/* Caption */
  --caption-font-size: var(--rem-15);
  --caption-line-height: 1.066667;
}
