:root {
/* * * * * * * *
  Text Vars
 * * * * * * * */

/* Body */
--body-color: var(--black);
--body-font-family: var(--font-family-omni);
--body-font-size: var(--rem-14);
--body-font-weight: inherit;
--body-letter-spacing: inherit;
--body-line-height: 1.3125;

/* Paragraph */
--paragraph-color: var(--body-color);
--paragraph-font-size: var(--rem-16);
--paragraph-font-weight: var(--font-weight-normal);
--paragraph-letter-spacing: inherit;
--paragraph-line-height: 1.44444;

/* Link */
--link-color: var(--primary);
--link-font-size: inherit;
--link-font-weight: var(--font-weight-semibold);
--link-letter-spacing: inherit;
--link-line-height: inherit;

/* Lists */
--list-color: var(--paragraph-color);
--list-font-size: var(--paragraph-font-size);
--list-letter-spacing: inherit;
--list-line-height: var(--paragraph-line-height);

/* Small */
--small-color: var(--paragraph-color);
--small-font-size: var(--rem-12);
--small-letter-spacing: inherit;
--small-line-height: 1.5;

/* Caption */
--caption-color: var(--paragraph-color);
--caption-font-size: var(--rem-15);
--caption-letter-spacing: inherit;
--caption-line-height: 1.066667;

/* * * * * * * * *
  Heading Vars
* * * * * * * * */
--heading-color: var(--black);
--heading-font-family: var(--font-family-omni);
--heading-font-weight: var(--font-weight-semibold);
--heading-letter-spacing: inherit;

/* Heading 1 */
--h1-font-size: var(--rem-38);
--h1-line-height: 1.13157895; 

/* Heading 2 */
--h2-font-size: var(--rem-28);
--h2-line-height: 1.14285714;

/* Heading 3 */
--h3-font-size: var(--rem-22);
--h3-line-height: 1.13636364;

/* Heading 4 */
--h4-font-size: var(--rem-22);
--h4-line-height: 1.12636364;

/* Heading 5 */
--h5-font-size: var(--rem-22);
--h5-line-height: 1.11636364;

/* Heading 6 */
--h6-font-size: var(--paragraph-font-size);
--h6-line-height: .75;


/* * * * * * * *
  Display Vars
 * * * * * * * */
--display-color: var(--heading-color);
--display-font-family: var(--heading-font-family);
--display-font-weight: var(--font-weight-bold);
--display-letter-spacing: inherit;

/* Display S */
--display-s-font-size: var(--rem-32);
--display-s-line-height: 1.125;

/* Display M */
--display-m-font-size: var(--rem-48);
--display-m-line-height: 1;

/* Display L */
--display-l-font-size: var(--rem-64);
--display-l-line-height: 1;

/* * * * * * * *
  Font Vars
 * * * * * * * */

/* Font Family */
--font-family-monospace:      Monaco, Menlo, Consolas, 'Courier New', monospace;
--font-family-omni:           'Inter', sans-serif;
--font-family-system:         -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
--font-family-sans-serif:     'Helvetica Neue', Helvetica, Arial, sans-serif;
--font-family-serif:          Georgia, 'Times New Roman', Times, serif;

/* Font Weights  */
--font-weight-thin:           100;
--font-weight-extra-light:    200;
--font-weight-light:          300;
--font-weight-regular:        400;
--font-weight-medium:         500;
--font-weight-semibold:       600;
--font-weight-bold:           700;
--font-weight-extra-bold:     800;
--font-weight-black:          900;
--font-weight:                normal;

}
