:root {
/* Paragraph */
  --p-font-size: 1rem; /* 16px */
  --p-line-height: 1.44444;
  
/* Lists */
  --list-font-size: var(--p-font-size); /* 16px */
  --list-line-height: var(--p-line-height);

/* * * * * * * *
  Heading Vars 
 * * * * * * * */
  --heading-font-weight: 600;
  --heading-margin: 1rem; /* 16px */
/* Heading 1 */
  --h1-font-size: 2.375rem; /* 38px */
  --h1-line-height: 1.13157895; 
/* Heading 2 */
  --h2-font-size: 1.75rem; /* 28px */
  --h2-line-height: 1.14285714;
/* Heading 3 */
  --h3-font-size: 1.375rem; /* 22px  */
  --h3-line-height: 1.13636364;

/* * * * * * * *
  Display Vars 
 * * * * * * * */
  --display-font-weight: bold;
/* Display S */
  --display-s-font-size: 2rem; /* 32px */
  --display-s-line-height: 1.125;
/* Display M */
  --display-m-font-size: 3rem; /* 48px */
  --display-m-line-height: 1;
/* Display L */
  --display-l-font-size: 4rem; /* 64px */
  --display-l-line-height: 1;  

/* Small */
  --small-font-size: 0.75rem; /* 12px */
  --small-line-height: 1.5;

/* Caption */
  --caption-font-size: 0.9375rem; /* 15px */
  --caption-line-height: 1.066667;
}
