@import url('https://rsms.me/inter/inter.css');

/* Utils */
@import './utils/_color.css';
@import './utils/_breakpoints.css';
@import './utils/_grid.css';
@import './utils/_sizing.css';

/* Theme */
@import './_theme.css';

/* Base */
@import './base/_reset.css';
@import './base/_base.css';

/* Type */
@import './type/_paragraph.css';
@import './type/_link.css';
@import './type/_lists.css';
@import './type/_formats.css';
@import './type/_headings.css';

/* Primitives */
@import './primitives/_buttons.css';
@import './primitives/_figure.css';

/* Components */
@import './components/_forms.css';
@import './components/_deco-list.css';

/* Spacing Utils */
@import './utils/_margin.css';
@import './utils/_padding.css';

.container {
  /* border: var(--rem-6) solid red; */
  max-width: 38.75rem;
  max-width: 54ch;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}
.column {
  width: 100%;
  padding-left: var(--rem-20);
  padding-right: var(--rem-20);
}
.color-wrap {
  display: flex;
}
.color-div {
  width: 100px;
  height: 100px;
  border: 0.0625rem inset rgba(0,0,0,.8);
  font-size: .75rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0.125rem;
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color-div > span.base {
  display: block;
  text-align: center;
  opacity: 0.95;
}
/* Patterns */

/* Templates */

/* Pages */


